
.logo-thumbnail {
  width: 15rem;
}
.menu,
.close {
  font-size: 2rem !important;
}

#cartoonLong .modal-body,#iplLong .modal-body,#mobileLong .modal-body,#bigbangLong  .modal-body,
#wordsearchLong  .modal-body,#antakLong  .modal-body,#gameLong  .modal-body{
  height: 50rem;
}

.events{
  background-color: #5F9EA0;
  color:#ffffff !important;
}

.text-overflow-modal{
  width: 32vw;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow-modal-left{
  /* width: 7rem; */
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#funzoneModal .modal-body,
#creditsModal .modal-body {
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.dropdown-menu {
  z-index: 1;
}
.active,
.show > .nav-link {
  color: #255c65 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #2f9184;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #255c65;
}
.dropdown-item,
.dropdown-menu {
  background-color: #71c28d !important;
  color: #ffffff !important;
}
.dropdown-item:active,
.dropdown-item:hover,
.highlight {
  background-color: #2f9184 !important;
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
.embed-responsive {
  width: 90% !important;
}
@media (max-width: 767.98px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media (min-screen:1024px){
  #creditsModal .modal-content {
  width: fit-content;
}
#creditsModal .modal-body {
  width: max-content;
}
}

.blue {
  color: #255c65;
}

.ocean-blue {
  color: #2f9184;
}

.green {
  color: #71c28d;
}
